.timer-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 370px;
  background-color: var(--secondary-color);
  opacity: 0.9;
  border-radius: 30px;
  box-shadow: 1px 1px 22px var(--primary-color);
}

.timer-form {
  display: block;
  font-size: 1.6rem;
}

.timer-form label {
  margin-right: 10px;
  font-family: Verdana, sans-serif;
  font-size: 20px;
}

.timer-input {
  width: 68px;
  padding: 6px 5px 6px 8px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 1px 1px 4px var(--primary-color);
}

.timer-input-error {
  color: #b24a59;
}

.button {
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 1px 1px 8px var(--primary-color);
}

.timer-button {
  display: block;
  margin: 0 auto;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  padding: 12px;
  width: 90%;
}

.clock-container {
  display: none;
}

.clock-buttons {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 1.4rem 10rem;
  text-align: center;
}

.clock-buttons li {
  display: inline;
}

.clock-button {
  border: none;
  font-size: 2.4rem;
  color: rgba(0, 0, 0, 0.54);
  background-color: transparent;
  transition: all 0.2s;
}

.clock-button:hover:not([disabled]) {
  color: rgba(178, 74, 89, 0.75);
}

.clock-button:focus,
.clock-button:active {
  outline: none;
  color: rgba(0, 0, 0, 0.8);
}

.clock-button:disabled {
  color: rgba(0, 0, 0, 0.26);
}

.clock {
  font-size: 7rem;
}
