@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Varela&display=swap');

:root {
  --primary-color: #343951;
  --secondary-color: #9396a5;
  --background-color: #f5f6fb;
  --light-green-color: #81d2a9;
  --shadow-color: #d5d6da;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: var(--primary-color);
  font-family: 'Varela', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li a {
  color: var(--secondary-color);
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
} */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 360px;
  border-bottom: 2px solid var(--secondary-color);
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 240px;
  width: 240px;
  min-width: 220px;
  margin: 40px;
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
}

.title-container:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid var(--light-green-color);
  border-radius: 50%;
}

.title-container:hover {
  box-shadow: 5px 5px 10px var(--shadow-color);
  transform: scale(1.1, 1.1);
  transition: ease-out 1s;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Beth Ellen', cursive;
  font-size: 24px;
  color: var(--primary-color);
}

.main {
  height: calc(100% - (360px));
  /* Adding 100px of header and 150px of footer */
}

.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  color: #fff;
  overflow: hidden;
}

.section-breath {
  background: var(--light-green-color) url('/img/water.jpg') no-repeat center
    center/cover;
}

.section-listen {
  background: var(--light-green-color) url('/img/waterfall.jpg') no-repeat
    center center/cover;
}

.section-be {
  background: var(--light-green-color) url('/img/universe.jpg') no-repeat center
    center/cover;
}

.section-background {
  height: 100%;
  width: 100%;
  animation: scale 22s linear infinite;
}

@keyframes scale {
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

/* breath section */
.breath-container {
  position: absolute;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: 290px;
  height: 290px;
  border-radius: 50%;
  z-index: -1;
}

.gradient-circle {
  position: absolute;
  background: conic-gradient(
    #55b7a4 0%,
    #4ca493 40%,
    #fff 40%,
    #fff 60%,
    #336d62 60%,
    #2a5b52 100%
  );
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
  top: -15px;
  left: -15px;
}

@-moz-document url-prefix() {
  .gradient-circle {
    border: solid 2px #fff;
  }
}

.pointer {
  display: block;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

/* listen section */
.audio-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 320px;
  background-color: var(--light-green-color);
  box-shadow: 1px 1px 10px var(--primary-color);
  opacity: 0.9;
  border-radius: 20px;
}

.audio-player {
  width: 290px;
  margin: 0 auto;
  border-radius: 10px;
}

/* media queries */
@media (max-width: 1080px) {
  .title-container {
    margin: 25px;
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 1280px) {
  .breath-section,
  .listen-section,
  .be-section {
    min-height: 70vh;
  }
}
