@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

:root {
  --primary-color: #343951;
  --secondary-color: #9396a5;
  --background-color: #f5f6fb;
  --light-green-color: #81d2a9;
  --shadow-color: #d5d6da;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: var(--primary-color);
  font-family: 'Varela Round', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li a {
  color: var(--secondary-color);
  text-decoration: none;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

/* .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
} */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 360px;
  border-bottom: 2px solid var(--secondary-color);
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 240px;
  width: 240px;
  min-width: 220px;
  margin: 40px;
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
}

.title-container:after {
  content: ' ';
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
}

.title-container:hover {
  border: 3px solid var(--light-green-color);
  box-shadow: 4px 4px 10px var(--shadow-color);
  transform: scale(1.1, 1.1);
  transition: ease-out 1s;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Beth Ellen', cursive;
  font-size: 24px;
  color: var(--primary-color);
}

/* breath section */
.breath-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #224941 url('./img/under-water.jpg') no-repeat center center/cover;
  color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010f1c;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: -1;
}

.gradient-circle {
  background: conic-gradient(
    #55b7a4 0%,
    #4ca493 40%,
    #fff 40%,
    #fff 60%,
    #336d62 60%,
    #2a5b52 100%
  );
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.pointer {
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

/* listen section */
.main {
  height: calc(100% - (360px));
  /* Adding 100px of header and 150px of footer */
}
.listen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  background: #224941 url('./img/clouds.jpg') no-repeat center center/cover;
  color: #fff;
  overflow: hidden;
}

/* be section */

/* media queries */
@media (max-width: 1080px) {
  .title-container {
    margin: 25px;
    width: 200px;
    height: 200px;
  }
}
